USE [His3000]
GO
/****** Object:  StoredProcedure [dbo].[sp_ImagenPacientes]    Script Date: 12/04/2021 00:35:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_ImagenPacientes]
AS
BEGIN
	SELECT distinct  A.ATE_FECHA_INGRESO AS 'F. Ingreso', P.PAC_HISTORIA_CLINICA AS HC, A.ATE_CODIGO AS Atencion,
	 H.hab_Numero AS Hab, P.PAC_APELLIDO_PATERNO + ' ' + P.PAC_APELLIDO_MATERNO + ' ' +
	 P.PAC_NOMBRE1 + ' ' + P.PAC_NOMBRE2 AS Paciente, P.PAC_IDENTIFICACION AS Identificacion,
	 CC.CAT_NOMBRE AS Aseguradora
	FROM ATENCIONES A
	INNER JOIN CUENTAS_PACIENTES C ON A.ATE_CODIGO = C.ATE_CODIGO
	INNER JOIN RUBROS R ON C.RUB_CODIGO = R.RUB_CODIGO
	INNER JOIN PACIENTES P ON A.PAC_CODIGO = P.PAC_CODIGO
	INNER JOIN HABITACIONES H ON H.hab_Codigo = A.HAB_CODIGO
	INNER JOIN ATENCION_DETALLE_CATEGORIAS ADC ON A.ATE_CODIGO = ADC.ATE_CODIGO
	INNER JOIN CATEGORIAS_CONVENIOS CC ON ADC.CAT_CODIGO = CC.CAT_CODIGO
	WHERE R.RUB_ASOCIADO = 6 AND A.ESC_CODIGO = 1
	ORDER BY P.PAC_APELLIDO_PATERNO + ' ' + P.PAC_APELLIDO_MATERNO + ' ' +
	 P.PAC_NOMBRE1 + ' ' + P.PAC_NOMBRE2 ASC
END
