--solo pasteur
USE [His3000]
GO
/****** Object:  StoredProcedure [dbo].[sp_QuirofanoAnestesiologo]    Script Date: 29/03/2021 11:29:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_QuirofanoAnestesiologo]
AS
SELECT M.MED_CODIGO AS CODIGO, M.MED_APELLIDO_PATERNO + ' ' + M.MED_APELLIDO_MATERNO + ' ' + M.MED_NOMBRE1 + ' ' + M.MED_NOMBRE2 AS MEDICO,
EM.ESP_NOMBRE AS ESPECIALIDAD
FROM MEDICOS M 
INNER JOIN ESPECIALIDADES_MEDICAS EM ON M.ESP_CODIGO = EM.ESP_CODIGO
WHERE EM.ESP_CODIGO = 102
ORDER BY M.MED_APELLIDO_PATERNO + ' ' + M.MED_APELLIDO_MATERNO + ' ' + M.MED_NOMBRE1 + ' ' + M.MED_NOMBRE2 ASC


USE [His3000]
GO
/****** Object:  StoredProcedure [dbo].[sp_QuirofanoHabitacion]    Script Date: 29/03/2021 11:45:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_QuirofanoHabitacion]
AS
SELECT H.hab_Codigo AS CODIGO, H.hab_Numero AS HABITACION from  HABITACIONES H
INNER JOIN NIVEL_PISO N ON H.NIV_CODIGO = N.NIV_CODIGO
WHERE N.NIV_CODIGO =11
ORDER BY H.hab_Codigo ASC




USE [His3000]
GO
/****** Object:  StoredProcedure [dbo].[sp_RecuperaDieteticaDetalle]    Script Date: 29/03/2021 12:43:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_RecuperaDieteticaDetalle]
(
	@historiaClinica AS VARCHAR(8)
)
AS
BEGIN

	select CUE_FECHA Fecha, CUE_DETALLE Detalle, p.PED_DESCRIPCION Observacion from CUENTAS_PACIENTES c, PEDIDOS p
	WHERE c.ATE_CODIGO=(SELECT a.ATE_CODIGO FROM ATENCIONES a
	WHERE PAC_CODIGO=(SELECT PAC_CODIGO FROM PACIENTES WHERE PAC_HISTORIA_CLINICA=15 ) and ESC_CODIGO = 1)
	AND c.PED_CODIGO=p.PED_CODIGO and c.RUB_CODIGO in (4,36)
	order by 1 asc

END

--fin solo pasteur



CREATE PROCEDURE sp_SinAnamnesis
AS
SELECT H.hab_Codigo, H.hab_Numero AS HABITACION, P.PAC_IDENTIFICACION AS IDENTIFICACION, 
P.PAC_APELLIDO_PATERNO + ' ' + P.PAC_APELLIDO_MATERNO + ' ' + P.PAC_NOMBRE1 + ' ' + P.PAC_NOMBRE2 AS PACIENTE,
P.PAC_HISTORIA_CLINICA AS HC, A.ATE_NUMERO_ATENCION AS ATENUMERO, A.ATE_CODIGO, P.PAC_GENERO AS GENERO,
CC.CAT_NOMBRE AS ASEGURADORA, A.ATE_FECHA_INGRESO AS INGRESO, 
M.MED_APELLIDO_PATERNO + ' ' + M.MED_APELLIDO_MATERNO + ' ' + M.MED_NOMBRE1 + ' ' + M.MED_NOMBRE2 AS MEDICO,
TT.TIA_DESCRIPCION AS TRATAMIENTO, A.ATE_DIAGNOSTICO_INICIAL AS DIAGNOSTICO,  
DATEDIFF(DAY,CONVERT(DATE,ATE_FECHA_INGRESO), CONVERT(DATE,GETDATE())) AS DIAS
FROM PACIENTES P
INNER JOIN ATENCIONES A ON P.PAC_CODIGO = A.PAC_CODIGO
INNER JOIN ATENCION_DETALLE_CATEGORIAS ADC ON A.ATE_CODIGO = ADC.ATE_CODIGO
INNER JOIN CATEGORIAS_CONVENIOS CC ON ADC.CAT_CODIGO = CC.CAT_CODIGO
INNER JOIN HABITACIONES H ON A.HAB_CODIGO = H.hab_Codigo
--INNER JOIN HC_ANAMNESIS HA ON A.ATE_CODIGO = HA.ATE_CODIGO
INNER JOIN MEDICOS M ON A.MED_CODIGO = M.MED_CODIGO
INNER JOIN TIPO_TRATAMIENTO TT ON A.TIA_CODIGO = TT.TIA_CODIGO
WHERE A.ESC_CODIGO = 1  and A.ATE_CODIGO NOT IN (select ATE_CODIGO from HC_ANAMNESIS HA WHERE  A.ATE_CODIGO = HA.ATE_CODIGO)
ORDER BY 4
GO





CREATE PROCEDURE sp_SinEpicrisis
AS
SELECT H.hab_Codigo, H.hab_Numero AS HABITACION, P.PAC_IDENTIFICACION AS IDENTIFICACION, 
P.PAC_APELLIDO_PATERNO + ' ' + P.PAC_APELLIDO_MATERNO + ' ' + P.PAC_NOMBRE1 + ' ' + P.PAC_NOMBRE2 AS PACIENTE,
P.PAC_HISTORIA_CLINICA AS HC, A.ATE_NUMERO_ATENCION AS ATENUMERO, A.ATE_CODIGO, P.PAC_GENERO AS GENERO,
CC.CAT_NOMBRE AS ASEGURADORA, A.ATE_FECHA_INGRESO AS INGRESO, 
M.MED_APELLIDO_PATERNO + ' ' + M.MED_APELLIDO_MATERNO + ' ' + M.MED_NOMBRE1 + ' ' + M.MED_NOMBRE2 AS MEDICO,
TT.TIA_DESCRIPCION AS TRATAMIENTO, A.ATE_DIAGNOSTICO_INICIAL AS DIAGNOSTICO,  
DATEDIFF(DAY,CONVERT(DATE,ATE_FECHA_INGRESO), CONVERT(DATE,GETDATE())) AS DIAS
FROM PACIENTES P
INNER JOIN ATENCIONES A ON P.PAC_CODIGO = A.PAC_CODIGO
INNER JOIN ATENCION_DETALLE_CATEGORIAS ADC ON A.ATE_CODIGO = ADC.ATE_CODIGO
INNER JOIN CATEGORIAS_CONVENIOS CC ON ADC.CAT_CODIGO = CC.CAT_CODIGO
INNER JOIN HABITACIONES H ON A.HAB_CODIGO = H.hab_Codigo
--INNER JOIN HC_ANAMNESIS HA ON A.ATE_CODIGO = HA.ATE_CODIGO
INNER JOIN MEDICOS M ON A.MED_CODIGO = M.MED_CODIGO
INNER JOIN TIPO_TRATAMIENTO TT ON A.TIA_CODIGO = TT.TIA_CODIGO
WHERE A.ESC_CODIGO = 1  and A.ATE_CODIGO NOT IN (select ATE_CODIGO from HC_EPICRISIS HE WHERE  A.ATE_CODIGO = HE.ATE_CODIGO)
ORDER BY 4
GO





CREATE PROCEDURE sp_SinEmergencia
AS
SELECT H.hab_Codigo, H.hab_Numero AS HABITACION, P.PAC_IDENTIFICACION AS IDENTIFICACION, 
P.PAC_APELLIDO_PATERNO + ' ' + P.PAC_APELLIDO_MATERNO + ' ' + P.PAC_NOMBRE1 + ' ' + P.PAC_NOMBRE2 AS PACIENTE,
P.PAC_HISTORIA_CLINICA AS HC, A.ATE_NUMERO_ATENCION AS ATENUMERO, A.ATE_CODIGO, P.PAC_GENERO AS GENERO,
CC.CAT_NOMBRE AS ASEGURADORA, A.ATE_FECHA_INGRESO AS INGRESO, 
M.MED_APELLIDO_PATERNO + ' ' + M.MED_APELLIDO_MATERNO + ' ' + M.MED_NOMBRE1 + ' ' + M.MED_NOMBRE2 AS MEDICO,
TT.TIA_DESCRIPCION AS TRATAMIENTO, A.ATE_DIAGNOSTICO_INICIAL AS DIAGNOSTICO,  
DATEDIFF(DAY,CONVERT(DATE,ATE_FECHA_INGRESO), CONVERT(DATE,GETDATE())) AS DIAS
FROM PACIENTES P
INNER JOIN ATENCIONES A ON P.PAC_CODIGO = A.PAC_CODIGO
INNER JOIN ATENCION_DETALLE_CATEGORIAS ADC ON A.ATE_CODIGO = ADC.ATE_CODIGO
INNER JOIN CATEGORIAS_CONVENIOS CC ON ADC.CAT_CODIGO = CC.CAT_CODIGO
INNER JOIN HABITACIONES H ON A.HAB_CODIGO = H.hab_Codigo
INNER JOIN MEDICOS M ON A.MED_CODIGO = M.MED_CODIGO
INNER JOIN TIPO_TRATAMIENTO TT ON A.TIA_CODIGO = TT.TIA_CODIGO
WHERE A.ESC_CODIGO = 1  and A.ATE_CODIGO NOT IN (select ATE_CODIGO from HC_EMERGENCIA_FORM HE WHERE  A.ATE_CODIGO = HE.ATE_CODIGO)
ORDER BY 4
GO






CREATE PROCEDURE sp_SinProtocolo
AS
SELECT H.hab_Codigo, H.hab_Numero AS HABITACION, P.PAC_IDENTIFICACION AS IDENTIFICACION, 
P.PAC_APELLIDO_PATERNO + ' ' + P.PAC_APELLIDO_MATERNO + ' ' + P.PAC_NOMBRE1 + ' ' + P.PAC_NOMBRE2 AS PACIENTE,
P.PAC_HISTORIA_CLINICA AS HC, A.ATE_NUMERO_ATENCION AS ATENUMERO, A.ATE_CODIGO, P.PAC_GENERO AS GENERO,
CC.CAT_NOMBRE AS ASEGURADORA, A.ATE_FECHA_INGRESO AS INGRESO, 
M.MED_APELLIDO_PATERNO + ' ' + M.MED_APELLIDO_MATERNO + ' ' + M.MED_NOMBRE1 + ' ' + M.MED_NOMBRE2 AS MEDICO,
TT.TIA_DESCRIPCION AS TRATAMIENTO, A.ATE_DIAGNOSTICO_INICIAL AS DIAGNOSTICO,  
DATEDIFF(DAY,CONVERT(DATE,ATE_FECHA_INGRESO), CONVERT(DATE,GETDATE())) AS DIAS
FROM PACIENTES P
INNER JOIN ATENCIONES A ON P.PAC_CODIGO = A.PAC_CODIGO
INNER JOIN ATENCION_DETALLE_CATEGORIAS ADC ON A.ATE_CODIGO = ADC.ATE_CODIGO
INNER JOIN CATEGORIAS_CONVENIOS CC ON ADC.CAT_CODIGO = CC.CAT_CODIGO
INNER JOIN HABITACIONES H ON A.HAB_CODIGO = H.hab_Codigo
INNER JOIN MEDICOS M ON A.MED_CODIGO = M.MED_CODIGO
INNER JOIN TIPO_TRATAMIENTO TT ON A.TIA_CODIGO = TT.TIA_CODIGO
WHERE A.ESC_CODIGO = 1  and A.ATE_CODIGO NOT IN (select ATE_CODIGO from HC_PROTOCOLO_OPERATORIO HE WHERE  A.ATE_CODIGO = HE.ATE_CODIGO)
ORDER BY 4
GO





CREATE PROCEDURE sp_Todos
AS
SELECT H.hab_Codigo, H.hab_Numero AS HABITACION, P.PAC_IDENTIFICACION AS IDENTIFICACION, 
P.PAC_APELLIDO_PATERNO + ' ' + P.PAC_APELLIDO_MATERNO + ' ' + P.PAC_NOMBRE1 + ' ' + P.PAC_NOMBRE2 AS PACIENTE,
P.PAC_HISTORIA_CLINICA AS HC, A.ATE_NUMERO_ATENCION AS ATENUMERO, A.ATE_CODIGO, P.PAC_GENERO AS GENERO,
CC.CAT_NOMBRE AS ASEGURADORA, A.ATE_FECHA_INGRESO AS INGRESO, 
M.MED_APELLIDO_PATERNO + ' ' + M.MED_APELLIDO_MATERNO + ' ' + M.MED_NOMBRE1 + ' ' + M.MED_NOMBRE2 AS MEDICO,
TT.TIA_DESCRIPCION AS TRATAMIENTO, A.ATE_DIAGNOSTICO_INICIAL AS DIAGNOSTICO,  
DATEDIFF(DAY,CONVERT(DATE,ATE_FECHA_INGRESO), CONVERT(DATE,GETDATE())) AS DIAS
FROM PACIENTES P
INNER JOIN ATENCIONES A ON P.PAC_CODIGO = A.PAC_CODIGO
INNER JOIN ATENCION_DETALLE_CATEGORIAS ADC ON A.ATE_CODIGO = ADC.ATE_CODIGO
INNER JOIN CATEGORIAS_CONVENIOS CC ON ADC.CAT_CODIGO = CC.CAT_CODIGO
INNER JOIN HABITACIONES H ON A.HAB_CODIGO = H.hab_Codigo
INNER JOIN MEDICOS M ON A.MED_CODIGO = M.MED_CODIGO
INNER JOIN TIPO_TRATAMIENTO TT ON A.TIA_CODIGO = TT.TIA_CODIGO
WHERE A.ESC_CODIGO = 1  --and A.ATE_CODIGO NOT IN (select ATE_CODIGO from HC_PROTOCOLO_OPERATORIO HE WHERE  A.ATE_CODIGO = HE.ATE_CODIGO)
ORDER BY 4
GO



CREATE PROCEDURE sp_TipoOtros
AS
SELECT H.hab_Codigo, H.hab_Numero AS HABITACION, P.PAC_IDENTIFICACION AS IDENTIFICACION, 
P.PAC_APELLIDO_PATERNO + ' ' + P.PAC_APELLIDO_MATERNO + ' ' + P.PAC_NOMBRE1 + ' ' + P.PAC_NOMBRE2 AS PACIENTE,
P.PAC_HISTORIA_CLINICA AS HC, A.ATE_NUMERO_ATENCION AS ATENUMERO, A.ATE_CODIGO, P.PAC_GENERO AS GENERO,
CC.CAT_NOMBRE AS ASEGURADORA, A.ATE_FECHA_INGRESO AS INGRESO, 
M.MED_APELLIDO_PATERNO + ' ' + M.MED_APELLIDO_MATERNO + ' ' + M.MED_NOMBRE1 + ' ' + M.MED_NOMBRE2 AS MEDICO,
TT.TIA_DESCRIPCION AS TRATAMIENTO, A.ATE_DIAGNOSTICO_INICIAL AS DIAGNOSTICO,  
DATEDIFF(DAY,CONVERT(DATE,ATE_FECHA_INGRESO), CONVERT(DATE,GETDATE())) AS DIAS
FROM PACIENTES P
INNER JOIN ATENCIONES A ON P.PAC_CODIGO = A.PAC_CODIGO
INNER JOIN ATENCION_DETALLE_CATEGORIAS ADC ON A.ATE_CODIGO = ADC.ATE_CODIGO
INNER JOIN CATEGORIAS_CONVENIOS CC ON ADC.CAT_CODIGO = CC.CAT_CODIGO
INNER JOIN HABITACIONES H ON A.HAB_CODIGO = H.hab_Codigo
INNER JOIN MEDICOS M ON A.MED_CODIGO = M.MED_CODIGO
INNER JOIN TIPO_TRATAMIENTO TT ON A.TIA_CODIGO = TT.TIA_CODIGO
WHERE A.ESC_CODIGO = 1 AND A.TIP_CODIGO BETWEEN 3 AND 9
ORDER BY 4
GO





CREATE PROCEDURE sp_TipoHospitalizacion
AS
SELECT H.hab_Codigo, H.hab_Numero AS HABITACION, P.PAC_IDENTIFICACION AS IDENTIFICACION, 
P.PAC_APELLIDO_PATERNO + ' ' + P.PAC_APELLIDO_MATERNO + ' ' + P.PAC_NOMBRE1 + ' ' + P.PAC_NOMBRE2 AS PACIENTE,
P.PAC_HISTORIA_CLINICA AS HC, A.ATE_NUMERO_ATENCION AS ATENUMERO, A.ATE_CODIGO, P.PAC_GENERO AS GENERO,
CC.CAT_NOMBRE AS ASEGURADORA, A.ATE_FECHA_INGRESO AS INGRESO, 
M.MED_APELLIDO_PATERNO + ' ' + M.MED_APELLIDO_MATERNO + ' ' + M.MED_NOMBRE1 + ' ' + M.MED_NOMBRE2 AS MEDICO,
TT.TIA_DESCRIPCION AS TRATAMIENTO, A.ATE_DIAGNOSTICO_INICIAL AS DIAGNOSTICO,  
DATEDIFF(DAY,CONVERT(DATE,ATE_FECHA_INGRESO), CONVERT(DATE,GETDATE())) AS DIAS
FROM PACIENTES P
INNER JOIN ATENCIONES A ON P.PAC_CODIGO = A.PAC_CODIGO
INNER JOIN ATENCION_DETALLE_CATEGORIAS ADC ON A.ATE_CODIGO = ADC.ATE_CODIGO
INNER JOIN CATEGORIAS_CONVENIOS CC ON ADC.CAT_CODIGO = CC.CAT_CODIGO
INNER JOIN HABITACIONES H ON A.HAB_CODIGO = H.hab_Codigo
INNER JOIN MEDICOS M ON A.MED_CODIGO = M.MED_CODIGO
INNER JOIN TIPO_TRATAMIENTO TT ON A.TIA_CODIGO = TT.TIA_CODIGO
WHERE A.ESC_CODIGO = 1 AND A.TIP_CODIGO = 2
ORDER BY 4
GO



CREATE PROCEDURE sp_TipoEmergencia
AS
SELECT H.hab_Codigo, H.hab_Numero AS HABITACION, P.PAC_IDENTIFICACION AS IDENTIFICACION, 
P.PAC_APELLIDO_PATERNO + ' ' + P.PAC_APELLIDO_MATERNO + ' ' + P.PAC_NOMBRE1 + ' ' + P.PAC_NOMBRE2 AS PACIENTE,
P.PAC_HISTORIA_CLINICA AS HC, A.ATE_NUMERO_ATENCION AS ATENUMERO, A.ATE_CODIGO, P.PAC_GENERO AS GENERO,
CC.CAT_NOMBRE AS ASEGURADORA, A.ATE_FECHA_INGRESO AS INGRESO, 
M.MED_APELLIDO_PATERNO + ' ' + M.MED_APELLIDO_MATERNO + ' ' + M.MED_NOMBRE1 + ' ' + M.MED_NOMBRE2 AS MEDICO,
TT.TIA_DESCRIPCION AS TRATAMIENTO, A.ATE_DIAGNOSTICO_INICIAL AS DIAGNOSTICO,  
DATEDIFF(DAY,CONVERT(DATE,ATE_FECHA_INGRESO), CONVERT(DATE,GETDATE())) AS DIAS
FROM PACIENTES P
INNER JOIN ATENCIONES A ON P.PAC_CODIGO = A.PAC_CODIGO
INNER JOIN ATENCION_DETALLE_CATEGORIAS ADC ON A.ATE_CODIGO = ADC.ATE_CODIGO
INNER JOIN CATEGORIAS_CONVENIOS CC ON ADC.CAT_CODIGO = CC.CAT_CODIGO
INNER JOIN HABITACIONES H ON A.HAB_CODIGO = H.hab_Codigo
INNER JOIN MEDICOS M ON A.MED_CODIGO = M.MED_CODIGO
INNER JOIN TIPO_TRATAMIENTO TT ON A.TIA_CODIGO = TT.TIA_CODIGO
WHERE A.ESC_CODIGO = 1 AND A.TIP_CODIGO = 1
ORDER BY 4
GO



CREATE TABLE PROCEDIMIENTOS_CIRUGIA
(PCI_CODIGO BIGINT IDENTITY(1,1) NOT NULL,
PCI_DESCRIPCION VARCHAR(500) NULL,
PCI_ESTADO BIT DEFAULT 1)


DELETE FROM QUIROFANO_PROCE_PRODU WHERE QPP_CODIGO IS NOT NULL

USE His3000 DBCC CHECKIDENT(QUIROFANO_PROCE_PRODU, RESEED, 0)

ALTER TABLE QUIROFANO_PROCE_PRODU
ALTER COLUMN PCI_CODIGO BIGINT







USE [His3000]
GO
/****** Object:  StoredProcedure [dbo].[sp_QuirofanoTodosProcedimientos]    Script Date: 30/03/2021 14:55:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_QuirofanoTodosProcedimientos]
AS
SELECT C.PCI_DESCRIPCION AS Procedimiento, QPP.PCI_CODIGO
FROM QUIROFANO_PROCE_PRODU QPP
INNER JOIN PROCEDIMIENTOS_CIRUGIA C ON QPP.PCI_CODIGO = C.PCI_CODIGO
GROUP BY C.PCI_DESCRIPCION, QPP.PCI_CODIGO
ORDER BY C.PCI_DESCRIPCION ASC



USE [His3000]
GO
/****** Object:  StoredProcedure [dbo].[sp_QuirofanoProductoRepetido]    Script Date: 30/03/2021 15:02:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_QuirofanoProductoRepetido]
@codpro varchar(13),
@cie_codigo BIGINT
AS
SELECT CODPRO FROM QUIROFANO_PROCE_PRODU WHERE ATE_CODIGO IS NULL AND CODPRO = @codpro AND PCI_CODIGO = @cie_codigo
GO



USE [His3000]
GO
/****** Object:  StoredProcedure [dbo].[sp_QuirofanoTodosProductos]    Script Date: 30/03/2021 15:14:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_QuirofanoTodosProductos]
@cie_codigo BIGINT
AS
SELECT P.codpro as Codigo, P.despro as Producto, QPP.QPP_ORDEN as Orden, QPP.QPP_CODIGO, QPP_CANTIDAD as Cantidad
FROM QUIROFANO_PROCE_PRODU QPP
INNER JOIN PROCEDIMIENTOS_CIRUGIA C ON QPP.PCI_CODIGO = C.PCI_CODIGO
INNER JOIN Sic3000.dbo.Producto P ON QPP.CODPRO = P.codpro
WHERE QPP.PCI_CODIGO = @cie_codigo AND ATE_CODIGO IS NULL
order by 3 asc


USE [His3000]
GO
/****** Object:  StoredProcedure [dbo].[sp_QuirofanoAgregarProcedimiento]    Script Date: 30/03/2021 15:28:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_QuirofanoAgregarProcedimiento]
@orden int,
@codpro varchar(13),
@cie_codigo bigint,
@cantidad int
AS
IF NOT EXISTS(SELECT * FROM QUIROFANO_PROCE_PRODU WHERE CODPRO = @codpro AND PCI_CODIGO = @cie_codigo AND ATE_CODIGO IS NULL)
BEGIN 
	INSERT INTO QUIROFANO_PROCE_PRODU VALUES (@orden, @cie_codigo, @codpro, @cantidad, NULL, NULL, NULL, NULL,NULL, NULL,
	NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
END


USE [His3000]
GO
/****** Object:  StoredProcedure [dbo].[sp_QuirofanoCambioProcedimientoPaciente]    Script Date: 30/03/2021 15:34:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_QuirofanoCambioProcedimientoPaciente]
@orden int,
@cie_codigo bigint,
@codpro varchar(13),
@paciente int,
@atencion int,
@cantidadusada int,
@usuario varchar(100)
AS
IF EXISTS (SELECT * FROM QUIROFANO_PROCE_PRODU 
WHERE ATE_CODIGO = @atencion AND PAC_CODIGO = @paciente AND PCI_CODIGO = @cie_codigo AND QPP_CANTIDAD IS NOT NULL)
BEGIN 
	UPDATE QUIROFANO_PROCE_PRODU SET CODPRO = @codpro, QPP_ORDEN = @orden,
	QPP_CANTIDAD_ORIGINAL = @cantidadusada, QPP_USUARIO = @usuario
	WHERE ATE_CODIGO = @atencion AND PCI_CODIGO = @cie_codigo AND CODPRO = @codpro
END 



USE [His3000]
GO
/****** Object:  StoredProcedure [dbo].[sp_QuirofanoCierreProcedimiento]    Script Date: 30/03/2021 15:35:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_QuirofanoCierreProcedimiento]
@ate_codigo int, 
@pac_codigo int, 
@cie_codigo bigint
AS
UPDATE QUIROFANO_PROCE_PRODU SET QPP_CIERRE = 1
WHERE ATE_CODIGO = @ate_codigo AND PAC_CODIGO = @pac_codigo AND PCI_CODIGO = @cie_codigo



USE [His3000]
GO
/****** Object:  StoredProcedure [dbo].[sp_QuirofanoControlPedidoAdicional]    Script Date: 30/03/2021 15:36:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_QuirofanoControlPedidoAdicional]
@ate_codigo int,
@cie_codigo bigint,
@codpro varchar(13), 
@cantadicional int
AS
UPDATE QUIROFANO_PROCE_PRODU SET QPP_CANT_ADICIONAL = QPP_CANT_ADICIONAL + @cantadicional
WHERE ATE_CODIGO = @ate_codigo AND PCI_CODIGO = @cie_codigo AND CODPRO = @codpro


USE [His3000]
GO
/****** Object:  StoredProcedure [dbo].[sp_QuirofanoEditarProcedimiento]    Script Date: 30/03/2021 15:37:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_QuirofanoEditarProcedimiento]
@cie_codigo bigint,
@codpro varchar(13),
@qpp_orden int,
@qpp_cantidad int
AS
UPDATE QUIROFANO_PROCE_PRODU SET QPP_ORDEN = @qpp_orden, QPP_CANTIDAD = @qpp_cantidad 
WHERE CODPRO = @codpro AND PCI_CODIGO = @cie_codigo AND ATE_CODIGO IS NULL



USE [His3000]
GO
/****** Object:  StoredProcedure [dbo].[sp_QuirofanoEliminarProdu_Proce]    Script Date: 30/03/2021 15:38:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_QuirofanoEliminarProdu_Proce]
@cie_codigo bigint,
@codpro varchar(13)
AS
DELETE FROM QUIROFANO_PROCE_PRODU WHERE CODPRO = @codpro AND PCI_CODIGO = @cie_codigo AND ATE_CODIGO IS NULL



USE [His3000]
GO
/****** Object:  StoredProcedure [dbo].[sp_QuirofanoExisteProcedimiento]    Script Date: 30/03/2021 15:39:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_QuirofanoExisteProcedimiento]
@valor int output,
@ate_codigo int, 
@pac_codigo int,
@cie_codigo bigint
AS
SET @valor = (SELECT  COUNT(QPP.PAC_CODIGO) FROM QUIROFANO_PROCE_PRODU QPP 
INNER JOIN PROCEDIMIENTOS_CIRUGIA C ON QPP.PCI_CODIGO = C.PCI_CODIGO 
WHERE QPP.PAC_CODIGO = @pac_codigo AND QPP.ATE_CODIGO = @ate_codigo AND QPP.PCI_CODIGO = @cie_codigo
GROUP BY QPP.PAC_CODIGO)




USE [His3000]
GO
/****** Object:  StoredProcedure [dbo].[sp_QuirofanoMostrarProcedimientoPaciente]    Script Date: 30/03/2021 15:40:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_QuirofanoMostrarProcedimientoPaciente]
@cie_codigo bigint,
@atencion int
AS
IF EXISTS (SELECT * FROM QUIROFANO_PROCE_PRODU WHERE PCI_CODIGO = @cie_codigo AND ATE_CODIGO = @atencion AND QPP_ORDEN IS NOT NULL)
BEGIN
	SELECT QPP.CODPRO AS Codigo, P.despro AS Producto, QP.QP_GRUPO AS Grupo,
	B.existe AS Stock, QPP.QPP_CANTIDAD AS 'Cant. Original', 
	QPP.QPP_CANT_ADICIONAL AS 'Cant. Adicional', QPP.QPP_CANTIDAD_ORIGINAL AS 'Cant. Devolución',
	QPP.QPP_FECHA AS Fecha, QPP.QPP_ORDEN, QPP_USUARIO as Usuario, p.preven
	FROM QUIROFANO_PROCE_PRODU QPP
	INNER JOIN QUIROFANO_PRODUCTOS QP ON QPP.CODPRO = QP.CODPRO
	INNER JOIN Sic3000.dbo.Producto P ON QP.CODPRO = P.codpro
	INNER JOIN Sic3000.dbo.Bodega B ON P.codpro = B.codpro
	WHERE QPP.PCI_CODIGO = @cie_codigo AND QPP.ATE_CODIGO = @atencion AND B.codbod = 1
END
ELSE
BEGIN
	SELECT QPP.CODPRO AS Codigo, P.despro AS Producto, QP.QP_GRUPO AS Grupo,
	B.existe AS Stock, QPP.QPP_CANTIDAD AS 'Cant. Original', 
	QPP.QPP_CANT_ADICIONAL AS 'Cant. Adicional', QPP.QPP_CANTIDAD_ORIGINAL AS 'Cant. Devolución',
	QPP.QPP_FECHA AS Fecha, QPP.QPP_ORDEN, QPP_USUARIO as Usuario, P.preven
	FROM QUIROFANO_PROCE_PRODU QPP
	INNER JOIN QUIROFANO_PRODUCTOS QP ON QPP.CODPRO = QP.CODPRO
	INNER JOIN Sic3000.dbo.Producto P ON QP.CODPRO = P.codpro
	INNER JOIN Sic3000.dbo.Bodega B ON P.codpro = B.codpro
	WHERE QPP.PCI_CODIGO = @cie_codigo AND QPP.ATE_CODIGO IS NULL AND B.codbod = 1
END




USE [His3000]
GO
/****** Object:  StoredProcedure [dbo].[sp_QuirofanoPacienteProcedimiento]    Script Date: 30/03/2021 15:42:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_QuirofanoPacienteProcedimiento]
@orden int,
@cie_codigo bigint,
@codpro varchar(13),
@cantidad int,
@paciente int,
@atencion int,
@usada int,
@usuario varchar(100)
AS
DECLARE @fecha DATETIME
SET @fecha = GETDATE();
IF EXISTS (SELECT * FROM QUIROFANO_PROCE_PRODU 
WHERE ATE_CODIGO = @atencion AND PAC_CODIGO = @paciente AND PCI_CODIGO = @cie_codigo AND QPP_CANTIDAD IS NULL)
BEGIN 
	UPDATE QUIROFANO_PROCE_PRODU SET QPP_ORDEN = @orden, CODPRO = @codpro, QPP_CANTIDAD_ORIGINAL = @usada, 
	QPP_CANTIDAD = @cantidad, QPP_USUARIO = @usuario, QPP_CANT_ADICIONAL = @usada
	WHERE ATE_CODIGO = @atencion AND PCI_CODIGO = @cie_codigo
END
ELSE IF NOT EXISTS (SELECT * FROM QUIROFANO_PROCE_PRODU 
WHERE ATE_CODIGO = @atencion AND PAC_CODIGO = @paciente AND PCI_CODIGO = @cie_codigo AND CODPRO = @codpro)
BEGIN 
	INSERT INTO QUIROFANO_PROCE_PRODU VALUES(@orden, @cie_codigo, @codpro, @cantidad, @paciente, @atencion, @fecha, @usada, @usuario, 0,
	NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
END




USE [His3000]
GO
/****** Object:  StoredProcedure [dbo].[sp_QuirofanoPacientes]    Script Date: 30/03/2021 15:42:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_QuirofanoPacientes]
AS
SELECT A.ATE_NUMERO_ATENCION AS Atencion, P.PAC_HISTORIA_CLINICA AS HC,
P.PAC_APELLIDO_PATERNO + ' ' + P.PAC_APELLIDO_MATERNO + ' ' + P.PAC_NOMBRE1 + ' ' + P.PAC_NOMBRE2 AS Paciente,
P.PAC_IDENTIFICACION AS Identificacion, H.hab_Numero AS Habitacion, A.ATE_FECHA_INGRESO AS 'F. Ingreso',
P.PAC_CODIGO, A.ATE_CODIGO,
M.MED_APELLIDO_PATERNO + ' ' + M.MED_APELLIDO_MATERNO + ' ' + M.MED_NOMBRE1 + ' ' + M.MED_NOMBRE2 AS Medico,
C.CAT_NOMBRE AS Aseguradora, T.TIP_DESCRIPCION AS TIPO, P.PAC_GENERO, TA.TIA_DESCRIPCION, P.PAC_FECHA_NACIMIENTO,
ISNULL((SELECT COUNT(DISTINCT QPP.PCI_CODIGO) FROM QUIROFANO_PROCE_PRODU QPP 
INNER JOIN PROCEDIMIENTOS_CIRUGIA C ON QPP.PCI_CODIGO = C.PCI_CODIGO AND QPP.PAC_CODIGO = P.PAC_CODIGO AND ATE_CODIGO = A.ATE_CODIGO), NULL) AS 'PROCE_AGREGADOS',
ISNULL((SELECT COUNT(QPP_CIERRE) FROM QUIROFANO_PROCE_PRODU QPP
INNER JOIN PROCEDIMIENTOS_CIRUGIA C ON QPP.PCI_CODIGO = C.PCI_CODIGO
WHERE QPP_CIERRE = 1 AND PAC_CODIGO = P.PAC_CODIGO AND ATE_CODIGO = A.ATE_CODIGO),NULL) AS 'PROCE_CERRADOS',
ISNULL((SELECT COUNT(QPP.PCI_CODIGO) FROM QUIROFANO_PROCE_PRODU QPP
INNER JOIN PROCEDIMIENTOS_CIRUGIA C ON QPP.PCI_CODIGO = C.PCI_CODIGO
WHERE PAC_CODIGO = P.PAC_CODIGO AND ATE_CODIGO = A.ATE_CODIGO),NULL) AS 'CANT_PROCE'
FROM PACIENTES P
INNER JOIN ATENCIONES A ON P.PAC_CODIGO = A.PAC_CODIGO
INNER JOIN HABITACIONES H ON A.HAB_CODIGO = H.hab_Codigo
INNER JOIN TIPO_INGRESO T ON A.TIP_CODIGO = T.TIP_CODIGO
INNER JOIN MEDICOS M ON A.MED_CODIGO = M.MED_CODIGO
INNER JOIN ATENCION_DETALLE_CATEGORIAS ADC ON A.ATE_CODIGO = ADC.ATE_CODIGO
INNER JOIN CATEGORIAS_CONVENIOS C ON ADC.CAT_CODIGO = C.CAT_CODIGO
INNER JOIN TIPO_TRATAMIENTO TA ON A.TIA_CODIGO = TA.TIA_CODIGO
WHERE A.ATE_ESTADO = 1 AND T.TIP_CODIGO BETWEEN 1 AND 2
ORDER BY P.PAC_APELLIDO_PATERNO + ' ' + P.PAC_APELLIDO_MATERNO + ' ' + P.PAC_NOMBRE1 + ' ' + P.PAC_NOMBRE2




USE [His3000]
GO
/****** Object:  StoredProcedure [dbo].[sp_QuirofanoPedidoAdicional]    Script Date: 30/03/2021 15:46:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_QuirofanoPedidoAdicional]
@atencion int, 
@paciente int,
@cie_codigo bigint,
@cant_adicional int,
@codpro varchar(13)
AS
IF EXISTS (SELECT * FROM QUIROFANO_PROCE_PRODU 
WHERE ATE_CODIGO = @atencion AND PAC_CODIGO = @paciente AND PCI_CODIGO = @cie_codigo AND QPP_CANT_ADICIONAL IS NULL)
BEGIN 
	UPDATE QUIROFANO_PROCE_PRODU SET QPP_CANT_ADICIONAL = @cant_adicional
	WHERE ATE_CODIGO = @atencion AND PCI_CODIGO = @cie_codigo AND CODPRO = @codpro
END



USE [His3000]
GO
/****** Object:  StoredProcedure [dbo].[sp_QuirofanoPedidoPacienteAgregar]    Script Date: 30/03/2021 15:47:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_QuirofanoPedidoPacienteAgregar]
@cie_codigo bigint,
@paciente int,
@atencion int,
@fecha datetime
AS
IF NOT EXISTS(SELECT * FROM QUIROFANO_PROCE_PRODU WHERE PAC_CODIGO = @paciente AND ATE_CODIGO = @atencion AND PCI_CODIGO = @cie_codigo)
BEGIN
	INSERT INTO QUIROFANO_PROCE_PRODU VALUES(NULL, @cie_codigo, NULL, NULL, @paciente, @atencion, @fecha, NULL, NULL, NULL,
	NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
END





USE [His3000]
GO
/****** Object:  StoredProcedure [dbo].[sp_QuirofanoPorProcedimiento]    Script Date: 30/03/2021 15:47:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_QuirofanoPorProcedimiento]
@cie_codigo varchar(7)
AS
SELECT A.ATE_NUMERO_ATENCION AS Atencion, P.PAC_HISTORIA_CLINICA AS HC,
P.PAC_APELLIDO_PATERNO + ' ' + P.PAC_APELLIDO_MATERNO + ' ' + P.PAC_NOMBRE1 + ' ' + P.PAC_NOMBRE2 AS Paciente,
P.PAC_IDENTIFICACION AS Identificacion, H.hab_Numero AS Habitacion, A.ATE_FECHA_INGRESO AS 'F. Ingreso',
--ISNULL((SELECT C.CIE_DESCRIPCION AS Procedimiento 
--FROM QUIROFANO_PROCE_PRODU  QPP INNER JOIN CIE10 C ON QPP.CIE_CODIGO = C.CIE_CODIGO 
--WHERE QPP.PAC_CODIGO = P.PAC_CODIGO AND QPP.ATE_CODIGO = A.ATE_CODIGO GROUP BY C.CIE_DESCRIPCION),NULL) AS Procedimiento,
--ISNULL((SELECT C.CIE_CODIGO
--FROM QUIROFANO_PROCE_PRODU QPP INNER JOIN CIE10 C ON QPP.CIE_CODIGO = C.CIE_CODIGO
--WHERE QPP.PAC_CODIGO = P.PAC_CODIGO GROUP BY C.CIE_CODIGO),NULL) AS CIE_CODIGO, 
P.PAC_CODIGO, A.ATE_CODIGO,
M.MED_APELLIDO_PATERNO + ' ' + M.MED_APELLIDO_MATERNO + ' ' + M.MED_NOMBRE1 + ' ' + M.MED_NOMBRE2 AS Medico,
C.CAT_NOMBRE AS Aseguradora, T.TIP_DESCRIPCION AS TIPO, P.PAC_GENERO, TA.TIA_DESCRIPCION 
FROM PACIENTES P
INNER JOIN ATENCIONES A ON P.PAC_CODIGO = A.PAC_CODIGO
INNER JOIN HABITACIONES H ON A.HAB_CODIGO = H.hab_Codigo
INNER JOIN TIPO_INGRESO T ON A.TIP_CODIGO = T.TIP_CODIGO
INNER JOIN MEDICOS M ON A.MED_CODIGO = M.MED_CODIGO
INNER JOIN ATENCION_DETALLE_CATEGORIAS ADC ON A.ATE_CODIGO = ADC.ATE_CODIGO
INNER JOIN CATEGORIAS_CONVENIOS C ON ADC.CAT_CODIGO = C.CAT_CODIGO
INNER JOIN TIPO_TRATAMIENTO TA ON A.TIA_CODIGO = TA.TIA_CODIGO
WHERE A.ATE_ESTADO = 1 AND T.TIP_CODIGO BETWEEN 1 AND 2
AND (SELECT QPP.PCI_CODIGO FROM QUIROFANO_PROCE_PRODU  QPP 
INNER JOIN PROCEDIMIENTOS_CIRUGIA C ON QPP.PCI_CODIGO = C.PCI_CODIGO
WHERE QPP.PAC_CODIGO = P.PAC_CODIGO GROUP BY QPP.PCI_CODIGO) = @cie_codigo
ORDER BY P.PAC_APELLIDO_PATERNO + ' ' + P.PAC_APELLIDO_MATERNO + ' ' + P.PAC_NOMBRE1 + ' ' + P.PAC_NOMBRE2





USE [His3000]
GO
/****** Object:  StoredProcedure [dbo].[sp_QuirofanoProcedimientoCerrado]    Script Date: 30/03/2021 15:49:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_QuirofanoProcedimientoCerrado]
@estado int output,
@ate_codigo int,
@pac_codigo int,
@cie_codigo bigint
AS
SET @estado = (SELECT DISTINCT QPP_CIERRE FROM QUIROFANO_PROCE_PRODU
WHERE ATE_CODIGO = @ate_codigo AND PAC_CODIGO = @pac_codigo AND PCI_CODIGO = @cie_codigo)





USE [His3000]
GO
/****** Object:  StoredProcedure [dbo].[sp_QuirofanoProcedimientoEliminar]    Script Date: 30/03/2021 15:49:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_QuirofanoProcedimientoEliminar]
@cie_codigo bigint
AS
DELETE FROM QUIROFANO_PROCE_PRODU WHERE PCI_CODIGO = @cie_codigo AND PAC_CODIGO IS NULL




USE [His3000]
GO
/****** Object:  StoredProcedure [dbo].[sp_QuirofanoProcedimientoPacienteTodos]    Script Date: 30/03/2021 15:50:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_QuirofanoProcedimientoPacienteTodos]
AS
SELECT A.ATE_NUMERO_ATENCION AS Atencion, P.PAC_HISTORIA_CLINICA AS HC,
P.PAC_APELLIDO_PATERNO + ' ' + P.PAC_APELLIDO_MATERNO + ' ' + P.PAC_NOMBRE1 + ' ' + P.PAC_NOMBRE2 AS Paciente,
P.PAC_IDENTIFICACION AS Identificacion, H.hab_Numero AS Habitacion, A.ATE_FECHA_INGRESO AS 'F. Ingreso',
M.MED_APELLIDO_PATERNO + ' ' + M.MED_APELLIDO_MATERNO + ' ' + M.MED_NOMBRE1 + ' ' + M.MED_NOMBRE2 AS Medico,
C.CAT_NOMBRE AS Aseguradora, T.TIP_DESCRIPCION AS TIPO, TA.TIA_DESCRIPCION, CI.PCI_DESCRIPCION
FROM PACIENTES P
INNER JOIN ATENCIONES A ON P.PAC_CODIGO = A.PAC_CODIGO
INNER JOIN HABITACIONES H ON A.HAB_CODIGO = H.hab_Codigo
INNER JOIN TIPO_INGRESO T ON A.TIP_CODIGO = T.TIP_CODIGO
INNER JOIN MEDICOS M ON A.MED_CODIGO = M.MED_CODIGO
INNER JOIN ATENCION_DETALLE_CATEGORIAS ADC ON A.ATE_CODIGO = ADC.ATE_CODIGO
INNER JOIN CATEGORIAS_CONVENIOS C ON ADC.CAT_CODIGO = C.CAT_CODIGO
INNER JOIN TIPO_TRATAMIENTO TA ON A.TIA_CODIGO = TA.TIA_CODIGO
INNER JOIN QUIROFANO_PROCE_PRODU QPP ON A.ATE_CODIGO = QPP.ATE_CODIGO
INNER JOIN PROCEDIMIENTOS_CIRUGIA CI ON QPP.PCI_CODIGO = CI.PCI_CODIGO
--WHERE A.ATE_ESTADO = 1 AND T.TIP_CODIGO BETWEEN 1 AND 2
GROUP BY CI.PCI_DESCRIPCION, A.ATE_NUMERO_ATENCION, P.PAC_HISTORIA_CLINICA,
P.PAC_APELLIDO_PATERNO + ' ' + P.PAC_APELLIDO_MATERNO + ' ' + P.PAC_NOMBRE1 + ' ' + P.PAC_NOMBRE2,
P.PAC_IDENTIFICACION, H.hab_Numero, A.ATE_FECHA_INGRESO,
M.MED_APELLIDO_PATERNO + ' ' + M.MED_APELLIDO_MATERNO + ' ' + M.MED_NOMBRE1 + ' ' + M.MED_NOMBRE2,
C.CAT_NOMBRE, T.TIP_DESCRIPCION,TA.TIA_DESCRIPCION
ORDER BY P.PAC_APELLIDO_PATERNO + ' ' + P.PAC_APELLIDO_MATERNO + ' ' + P.PAC_NOMBRE1 + ' ' + P.PAC_NOMBRE2




USE [His3000]
GO
/****** Object:  StoredProcedure [dbo].[sp_QuirofanoProcedimientos]    Script Date: 30/03/2021 15:52:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_QuirofanoProcedimientos]
AS
SELECT PCI_CODIGO as Codigo, PCI_DESCRIPCION as Descripcion
FROM PROCEDIMIENTOS_CIRUGIA 
ORDER BY PCI_DESCRIPCION ASC



USE [His3000]
GO
/****** Object:  StoredProcedure [dbo].[sp_QuirofanoProcedimientosPaciente]    Script Date: 30/03/2021 15:53:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_QuirofanoProcedimientosPaciente]
@ate_codigo int, 
@pac_codigo int
AS
SELECT C.PCI_CODIGO, C.PCI_DESCRIPCION FROM QUIROFANO_PROCE_PRODU QPP
INNER JOIN PROCEDIMIENTOS_CIRUGIA C ON QPP.PCI_CODIGO = C.PCI_CODIGO
WHERE QPP.ATE_CODIGO = @ate_codigo and QPP.PAC_CODIGO = @pac_codigo
GROUP BY C.PCI_CODIGO, C.PCI_DESCRIPCION


	USE [His3000]
GO
/****** Object:  StoredProcedure [dbo].[sp_QuirofanoRegistro]    Script Date: 30/03/2021 15:54:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_QuirofanoRegistro]
@ate_codigo int,
@pac_codigo int,
@cie_codigo bigint
AS
SELECT hab_Codigo, 

(SELECT M.MED_APELLIDO_PATERNO + ' ' + M.MED_APELLIDO_MATERNO + ' ' + M.MED_NOMBRE1 + ' ' + M.MED_NOMBRE2 
FROM MEDICOS M INNER JOIN QUIROFANO_PROCE_PRODU  QPP ON M.MED_CODIGO = QPP.QPP_CIRUJANO
WHERE PAC_CODIGO = @pac_codigo AND ATE_CODIGO = @ate_codigo AND QPP.PCI_CODIGO = @cie_codigo
GROUP BY M.MED_APELLIDO_PATERNO + ' ' + M.MED_APELLIDO_MATERNO + ' ' + M.MED_NOMBRE1 + ' ' + M.MED_NOMBRE2),

(SELECT M.MED_APELLIDO_PATERNO + ' ' + M.MED_APELLIDO_MATERNO + ' ' + M.MED_NOMBRE1 + ' ' + M.MED_NOMBRE2 
FROM MEDICOS M INNER JOIN QUIROFANO_PROCE_PRODU  QPP ON M.MED_CODIGO = QPP.QPP_AYUDANTE
WHERE PAC_CODIGO = @pac_codigo AND ATE_CODIGO = @ate_codigo AND QPP.PCI_CODIGO = @cie_codigo
GROUP BY M.MED_APELLIDO_PATERNO + ' ' + M.MED_APELLIDO_MATERNO + ' ' + M.MED_NOMBRE1 + ' ' + M.MED_NOMBRE2),

(SELECT M.MED_APELLIDO_PATERNO + ' ' + M.MED_APELLIDO_MATERNO + ' ' + M.MED_NOMBRE1 + ' ' + M.MED_NOMBRE2 
FROM MEDICOS M INNER JOIN QUIROFANO_PROCE_PRODU  QPP ON M.MED_CODIGO = QPP.QPP_AYUDANTIA
WHERE PAC_CODIGO = @pac_codigo AND ATE_CODIGO = @ate_codigo AND QPP.PCI_CODIGO = @cie_codigo
GROUP BY M.MED_APELLIDO_PATERNO + ' ' + M.MED_APELLIDO_MATERNO + ' ' + M.MED_NOMBRE1 + ' ' + M.MED_NOMBRE2)

, QPP.TA_CODIGO, QPP_RECUPERACION,

(SELECT M.MED_APELLIDO_PATERNO + ' ' + M.MED_APELLIDO_MATERNO + ' ' + M.MED_NOMBRE1 + ' ' + M.MED_NOMBRE2 
FROM MEDICOS M INNER JOIN QUIROFANO_PROCE_PRODU  QPP ON M.MED_CODIGO = QPP.QPP_ANESTESIOLOGO
WHERE PAC_CODIGO = @pac_codigo AND ATE_CODIGO = @ate_codigo AND QPP.PCI_CODIGO = @cie_codigo
GROUP BY M.MED_APELLIDO_PATERNO + ' ' + M.MED_APELLIDO_MATERNO + ' ' + M.MED_NOMBRE1 + ' ' + M.MED_NOMBRE2), 

QPP_HORAINICIO, 

(SELECT U.APELLIDOS + ' ' + U.NOMBRES FROM USUARIOS U
INNER JOIN QUIROFANO_PROCE_PRODU  QPP ON U.ID_USUARIO = QPP.QPP_CIRCULANTE
WHERE PAC_CODIGO = @pac_codigo AND ATE_CODIGO = @ate_codigo AND QPP.PCI_CODIGO = @cie_codigo
GROUP BY U.APELLIDOS + ' ' + U.NOMBRES)

, (SELECT U.APELLIDOS + ' ' + U.NOMBRES FROM USUARIOS U
INNER JOIN QUIROFANO_PROCE_PRODU  QPP ON U.ID_USUARIO = QPP.QPP_INSTRUMENTISTA
WHERE PAC_CODIGO = @pac_codigo AND ATE_CODIGO = @ate_codigo AND QPP.PCI_CODIGO = @cie_codigo
GROUP BY U.APELLIDOS + ' ' + U.NOMBRES),

(SELECT M.MED_APELLIDO_PATERNO + ' ' + M.MED_APELLIDO_MATERNO + ' ' + M.MED_NOMBRE1 + ' ' + M.MED_NOMBRE2 
FROM MEDICOS M INNER JOIN QUIROFANO_PROCE_PRODU  QPP ON M.MED_CODIGO = QPP.QPP_PATOLOGO
WHERE PAC_CODIGO = @pac_codigo AND ATE_CODIGO = @ate_codigo AND QPP.PCI_CODIGO = @cie_codigo
GROUP BY M.MED_APELLIDO_PATERNO + ' ' + M.MED_APELLIDO_MATERNO + ' ' + M.MED_NOMBRE1 + ' ' + M.MED_NOMBRE2), 

QPP_ATENCION, C.PCI_DESCRIPCION, QPP_FECHA, QPP_HORAFIN, QPP_DURACION, TA.TA_DESCRIPCION
FROM QUIROFANO_PROCE_PRODU QPP 
INNER JOIN PROCEDIMIENTOS_CIRUGIA C ON QPP.PCI_CODIGO = C.PCI_CODIGO
INNER JOIN TIPO_ANESTESIA TA ON QPP.TA_CODIGO = TA.TA_CODIGO
WHERE PAC_CODIGO = @pac_codigo AND ATE_CODIGO = @ate_codigo AND QPP.PCI_CODIGO = @cie_codigo
GROUP BY hab_Codigo, QPP.TA_CODIGO, QPP_RECUPERACION, QPP_ATENCION, C.PCI_DESCRIPCION, QPP_HORAINICIO, QPP_FECHA,
QPP_HORAFIN, QPP_DURACION, TA.TA_DESCRIPCION



USE [His3000]
GO
/****** Object:  StoredProcedure [dbo].[sp_QuirofanoRegistroAgregar]    Script Date: 30/03/2021 15:57:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_QuirofanoRegistroAgregar]
@hab_quirofano int,
@cirujano int,
@ayudante int,
@ayudantia int,
@tipo_anestesia int,
@recuperacion bit,
@anestesiologo int,
@horainicio time,
@horafin time,
@duracion time,
@circulante int,
@instrumentista int,
@patologo int,
@tipo_atencion varchar(20),
@ate_codigo int,
@pac_codigo int,
@cie_codigo bigint
AS
IF EXISTS(SELECT * FROM QUIROFANO_PROCE_PRODU WHERE PAC_CODIGO = @pac_codigo AND ATE_CODIGO = @ate_codigo AND PCI_CODIGO = @cie_codigo)
BEGIN 
	UPDATE QUIROFANO_PROCE_PRODU SET hab_Codigo = @hab_quirofano, QPP_CIRUJANO = @cirujano, QPP_AYUDANTE = @ayudante,
	QPP_AYUDANTIA = @ayudantia, TA_CODIGO = @tipo_anestesia, QPP_RECUPERACION = @recuperacion, QPP_ANESTESIOLOGO = @anestesiologo,
	QPP_HORAINICIO = @horainicio, QPP_HORAFIN = @horafin, QPP_DURACION = @duracion, QPP_CIRCULANTE = @circulante, 
	QPP_INSTRUMENTISTA = @instrumentista, QPP_PATOLOGO = @patologo, QPP_ATENCION = @tipo_atencion 
	WHERE ATE_CODIGO = @ate_codigo AND PAC_CODIGO = @pac_codigo AND PCI_CODIGO = @cie_codigo
END




USE [His3000]
GO
/****** Object:  StoredProcedure [dbo].[sp_QuirofanoSoloProcedimientos]    Script Date: 30/03/2021 15:57:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_QuirofanoSoloProcedimientos]
AS
SELECT QPP.PCI_CODIGO,  C.PCI_DESCRIPCION AS Procedimiento
FROM QUIROFANO_PROCE_PRODU QPP
INNER JOIN PROCEDIMIENTOS_CIRUGIA C ON QPP.PCI_CODIGO = C.PCI_CODIGO
WHERE QPP.PAC_CODIGO IS NULL
GROUP BY C.PCI_DESCRIPCION, QPP.PCI_CODIGO


USE [His3000]
GO
/****** Object:  StoredProcedure [dbo].[sp_QuirofanoPedidoPacienteAgregar]    Script Date: 30/03/2021 16:45:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_QuirofanoPedidoPacienteAgregar]
@cie_codigo varchar(7),
@paciente int,
@atencion int,
@fecha datetime
AS
IF NOT EXISTS(SELECT * FROM QUIROFANO_PROCE_PRODU WHERE PAC_CODIGO = @paciente AND ATE_CODIGO = @atencion AND PCI_CODIGO = @cie_codigo)
BEGIN
	INSERT INTO QUIROFANO_PROCE_PRODU VALUES(NULL, @cie_codigo, NULL, NULL, @paciente, @atencion, @fecha, NULL, NULL, NULL,
	NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
END



USE [His3000]
GO
/****** Object:  StoredProcedure [dbo].[sp_QuirofanoRegistroAgregar]    Script Date: 30/03/2021 16:51:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_QuirofanoRegistroAgregar]
@hab_quirofano int,
@cirujano int,
@ayudante int,
@ayudantia int,
@tipo_anestesia int,
@recuperacion bit,
@anestesiologo int,
@horainicio time,
@horafin time,
@duracion time,
@circulante int,
@instrumentista int,
@patologo int,
@tipo_atencion varchar(20),
@ate_codigo int,
@pac_codigo int,
@cie_codigo BIGINT
AS
IF EXISTS(SELECT * FROM QUIROFANO_PROCE_PRODU WHERE PAC_CODIGO = @pac_codigo AND ATE_CODIGO = @ate_codigo AND PCI_CODIGO = @cie_codigo)
BEGIN 
	UPDATE QUIROFANO_PROCE_PRODU SET hab_Codigo = @hab_quirofano, QPP_CIRUJANO = @cirujano, QPP_AYUDANTE = @ayudante,
	QPP_AYUDANTIA = @ayudantia, TA_CODIGO = @tipo_anestesia, QPP_RECUPERACION = @recuperacion, QPP_ANESTESIOLOGO = @anestesiologo,
	QPP_HORAINICIO = @horainicio, QPP_HORAFIN = @horafin, QPP_DURACION = @duracion, QPP_CIRCULANTE = @circulante, 
	QPP_INSTRUMENTISTA = @instrumentista, QPP_PATOLOGO = @patologo, QPP_ATENCION = @tipo_atencion 
	WHERE ATE_CODIGO = @ate_codigo AND PAC_CODIGO = @pac_codigo AND PCI_CODIGO = @cie_codigo
END



USE [His3000]
GO
/****** Object:  StoredProcedure [dbo].[sp_QuirofanoPacientePedidoInfo]    Script Date: 31/03/2021 11:21:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_QuirofanoPacientePedidoInfo]
@ate_codigo int
AS
SELECT TOP 1  A.ATE_NUMERO_ATENCION, PA.PAC_HISTORIA_CLINICA,
PA.PAC_APELLIDO_PATERNO + ' ' + PA.PAC_APELLIDO_MATERNO + ' ' + PA.PAC_NOMBRE1 + ' ' + PA.PAC_NOMBRE2,
P.PED_FECHA,  M.MED_APELLIDO_PATERNO + ' ' + M.MED_APELLIDO_MATERNO + ' ' + M.MED_NOMBRE1 + ' ' + M.MED_NOMBRE2,
U.APELLIDOS + ' ' + U.NOMBRES AS Usuario, H.hab_Numero
FROM PEDIDOS_DETALLE PD 
INNER JOIN PEDIDOS P ON PD.PED_CODIGO = P.PED_CODIGO
INNER JOIN ATENCIONES A ON P.ATE_CODIGO = A.ATE_CODIGO
INNER JOIN PACIENTES PA ON A.PAC_CODIGO = PA.PAC_CODIGO
INNER JOIN MEDICOS M ON P.MED_CODIGO = M.MED_CODIGO
INNER JOIN USUARIOS U ON P.ID_USUARIO = U.ID_USUARIO
INNER JOIN HABITACIONES H ON A.HAB_CODIGO = H.hab_Codigo
WHERE P.ATE_CODIGO = @ate_codigo
ORDER BY P.PED_FECHA DESC




USE [His3000]
GO
/****** Object:  StoredProcedure [dbo].[sp_QuirofanoProductosPedido]    Script Date: 31/03/2021 11:46:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_QuirofanoProductosPedido]
@ate_codigo int,
@ped_codigo int
AS
SELECT PD.PDD_CANTIDAD, PD.PRO_CODIGO, PD.PRO_DESCRIPCION, H.hab_Numero
FROM PEDIDOS P 
INNER JOIN PEDIDOS_DETALLE PD ON P.PED_CODIGO = PD.PED_CODIGO
INNER JOIN ATENCIONES A ON P.ATE_CODIGO = A.ATE_CODIGO
INNER JOIN HABITACIONES H ON A.HAB_CODIGO = H.hab_Codigo
INNER JOIN Sic3000.dbo.Producto PRO ON PD.PRO_CODIGO = codpro
WHERE A.ATE_CODIGO = @ate_codigo AND P.PED_CODIGO = @ped_codigo





USE [His3000]
GO
/****** Object:  StoredProcedure [dbo].[sp_QuirofanoRegistro]    Script Date: 31/03/2021 12:35:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_QuirofanoRegistro]
@ate_codigo int,
@pac_codigo int,
@cie_codigo bigint
AS
SELECT hab_Codigo, 

(SELECT M.MED_APELLIDO_PATERNO + ' ' + M.MED_APELLIDO_MATERNO + ' ' + M.MED_NOMBRE1 + ' ' + M.MED_NOMBRE2 
FROM MEDICOS M INNER JOIN QUIROFANO_PROCE_PRODU  QPP ON M.MED_CODIGO = QPP.QPP_CIRUJANO
WHERE PAC_CODIGO = @pac_codigo AND ATE_CODIGO = @ate_codigo AND QPP.PCI_CODIGO = @cie_codigo
GROUP BY M.MED_APELLIDO_PATERNO + ' ' + M.MED_APELLIDO_MATERNO + ' ' + M.MED_NOMBRE1 + ' ' + M.MED_NOMBRE2),


(SELECT M.MED_APELLIDO_PATERNO + ' ' + M.MED_APELLIDO_MATERNO + ' ' + M.MED_NOMBRE1 + ' ' + M.MED_NOMBRE2 
FROM MEDICOS M INNER JOIN QUIROFANO_PROCE_PRODU  QPP ON M.MED_CODIGO = QPP.QPP_AYUDANTE
WHERE PAC_CODIGO = @pac_codigo AND ATE_CODIGO = @ate_codigo AND QPP.PCI_CODIGO = @cie_codigo
GROUP BY M.MED_APELLIDO_PATERNO + ' ' + M.MED_APELLIDO_MATERNO + ' ' + M.MED_NOMBRE1 + ' ' + M.MED_NOMBRE2),

(SELECT M.MED_APELLIDO_PATERNO + ' ' + M.MED_APELLIDO_MATERNO + ' ' + M.MED_NOMBRE1 + ' ' + M.MED_NOMBRE2 
FROM MEDICOS M INNER JOIN QUIROFANO_PROCE_PRODU  QPP ON M.MED_CODIGO = QPP.QPP_AYUDANTIA
WHERE PAC_CODIGO = @pac_codigo AND ATE_CODIGO = @ate_codigo AND QPP.PCI_CODIGO = @cie_codigo
GROUP BY M.MED_APELLIDO_PATERNO + ' ' + M.MED_APELLIDO_MATERNO + ' ' + M.MED_NOMBRE1 + ' ' + M.MED_NOMBRE2)

, QPP.TA_CODIGO, QPP_RECUPERACION,

(SELECT M.MED_APELLIDO_PATERNO + ' ' + M.MED_APELLIDO_MATERNO + ' ' + M.MED_NOMBRE1 + ' ' + M.MED_NOMBRE2 
FROM MEDICOS M INNER JOIN QUIROFANO_PROCE_PRODU  QPP ON M.MED_CODIGO = QPP.QPP_ANESTESIOLOGO
WHERE PAC_CODIGO = @pac_codigo AND ATE_CODIGO = @ate_codigo AND QPP.PCI_CODIGO = @cie_codigo
GROUP BY M.MED_APELLIDO_PATERNO + ' ' + M.MED_APELLIDO_MATERNO + ' ' + M.MED_NOMBRE1 + ' ' + M.MED_NOMBRE2), 

QPP_HORAINICIO, 

(SELECT U.APELLIDOS + ' ' + U.NOMBRES FROM USUARIOS U
INNER JOIN QUIROFANO_PROCE_PRODU  QPP ON U.ID_USUARIO = QPP.QPP_CIRCULANTE
WHERE PAC_CODIGO = @pac_codigo AND ATE_CODIGO = @ate_codigo AND QPP.PCI_CODIGO = @cie_codigo
GROUP BY U.APELLIDOS + ' ' + U.NOMBRES)

, (SELECT U.APELLIDOS + ' ' + U.NOMBRES FROM USUARIOS U
INNER JOIN QUIROFANO_PROCE_PRODU  QPP ON U.ID_USUARIO = QPP.QPP_INSTRUMENTISTA
WHERE PAC_CODIGO = @pac_codigo AND ATE_CODIGO = @ate_codigo AND QPP.PCI_CODIGO = @cie_codigo
GROUP BY U.APELLIDOS + ' ' + U.NOMBRES),

(SELECT M.MED_APELLIDO_PATERNO + ' ' + M.MED_APELLIDO_MATERNO + ' ' + M.MED_NOMBRE1 + ' ' + M.MED_NOMBRE2 
FROM MEDICOS M INNER JOIN QUIROFANO_PROCE_PRODU  QPP ON M.MED_CODIGO = QPP.QPP_PATOLOGO
WHERE PAC_CODIGO = @pac_codigo AND ATE_CODIGO = @ate_codigo AND QPP.PCI_CODIGO = @cie_codigo
GROUP BY M.MED_APELLIDO_PATERNO + ' ' + M.MED_APELLIDO_MATERNO + ' ' + M.MED_NOMBRE1 + ' ' + M.MED_NOMBRE2), 

QPP_ATENCION, C.PCI_DESCRIPCION, QPP_FECHA, QPP_HORAFIN, QPP_DURACION, TA.TA_DESCRIPCION,

(SELECT qpp.QPP_CIRUJANO FROM MEDICOS M INNER JOIN QUIROFANO_PROCE_PRODU  QPP ON M.MED_CODIGO = QPP.QPP_CIRUJANO
WHERE PAC_CODIGO = @pac_codigo AND ATE_CODIGO = @ate_codigo AND QPP.PCI_CODIGO = @cie_codigo
GROUP BY QPP_CIRUJANO)AS CODCIRUJANO,

(SELECT QPP_AYUDANTE FROM MEDICOS M INNER JOIN QUIROFANO_PROCE_PRODU  QPP ON M.MED_CODIGO = QPP.QPP_AYUDANTE
WHERE PAC_CODIGO = @pac_codigo AND ATE_CODIGO = @ate_codigo AND QPP.PCI_CODIGO = @cie_codigo
GROUP BY QPP_AYUDANTE)AS CODAYUDANTE,

(SELECT QPP_AYUDANTIA FROM MEDICOS M INNER JOIN QUIROFANO_PROCE_PRODU  QPP ON M.MED_CODIGO = QPP.QPP_AYUDANTIA
WHERE PAC_CODIGO = @pac_codigo AND ATE_CODIGO = @ate_codigo AND QPP.PCI_CODIGO = @cie_codigo
GROUP BY QPP_AYUDANTIA)AS CODAYUDANTIA,

(SELECT QPP_ANESTESIOLOGO FROM MEDICOS M INNER JOIN QUIROFANO_PROCE_PRODU  QPP ON M.MED_CODIGO = QPP.QPP_ANESTESIOLOGO
WHERE PAC_CODIGO = @pac_codigo AND ATE_CODIGO = @ate_codigo AND QPP.PCI_CODIGO = @cie_codigo
GROUP BY QPP_ANESTESIOLOGO)AS CODANESTESIOLOGO,


(SELECT QPP_CIRCULANTE FROM USUARIOS U
INNER JOIN QUIROFANO_PROCE_PRODU  QPP ON U.ID_USUARIO = QPP.QPP_CIRCULANTE
WHERE PAC_CODIGO = @pac_codigo AND ATE_CODIGO = @ate_codigo AND QPP.PCI_CODIGO = @cie_codigo
GROUP BY QPP_CIRCULANTE) AS CODCIRCULANTE,

(SELECT QPP_INSTRUMENTISTA FROM USUARIOS U
INNER JOIN QUIROFANO_PROCE_PRODU  QPP ON U.ID_USUARIO = QPP.QPP_INSTRUMENTISTA
WHERE PAC_CODIGO = @pac_codigo AND ATE_CODIGO = @ate_codigo AND QPP.PCI_CODIGO = @cie_codigo
GROUP BY QPP_INSTRUMENTISTA) AS CODINSTRUMENTISTA,

(SELECT QPP_PATOLOGO FROM MEDICOS M INNER JOIN QUIROFANO_PROCE_PRODU  QPP ON M.MED_CODIGO = QPP.QPP_PATOLOGO
WHERE PAC_CODIGO = @pac_codigo AND ATE_CODIGO = @ate_codigo AND QPP.PCI_CODIGO = @cie_codigo
GROUP BY QPP_PATOLOGO)  AS CODPATOLOGO

FROM QUIROFANO_PROCE_PRODU QPP 
INNER JOIN PROCEDIMIENTOS_CIRUGIA C ON QPP.PCI_CODIGO = C.PCI_CODIGO
INNER JOIN TIPO_ANESTESIA TA ON QPP.TA_CODIGO = TA.TA_CODIGO
WHERE PAC_CODIGO = @pac_codigo AND ATE_CODIGO = @ate_codigo AND QPP.PCI_CODIGO = @cie_codigo
GROUP BY hab_Codigo, QPP.TA_CODIGO, QPP_RECUPERACION, QPP_ATENCION, C.PCI_DESCRIPCION, QPP_HORAINICIO, QPP_FECHA,
QPP_HORAFIN, QPP_DURACION, TA.TA_DESCRIPCION




------hasta aqui todo se ha subido a la pasteur





USE [His3000]
GO
/****** Object:  StoredProcedure [dbo].[sp_BuscaProductoSic3000_Farmacia]    Script Date: 08/04/2021 11:06:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [dbo].[sp_BuscaProductoSic3000_Farmacia]      
(@p_Opcion as int,      
@p_filtro as varchar(128),      
@p_Division as int,      
@p_Bodega as int,      
@CodigoEmpresa as int,          
@CodigoConvenio as int          
)                                        
as                                        
begin                                        
 if (@p_Opcion=1) -- BUSCA POR DATOS                                        
 begin                                        
  select top 100                                       
  dessub as DIVISION,                                         
  p.codpro as CODIGO,                                        
  despro as PRODUCTO,                                        
  isnull(existe,0) as STOCK,                              
  iva as IVA,                              
  isnull(dbo.f_Precio(@CodigoEmpresa,@CodigoConvenio,p.codpro),0) as VALOR,                   
  CantDecimal as Cantidad , p.clasprod                            
                                       
  from sic3000..producto p                                        
                                        
  inner join sic3000..ProductoDivision on p.coddiv=ProductoDivision.coddiv          
  inner join sic3000..ProductoSubdivision on p.codsub=ProductoSubdivision.codsub          
  inner join sic3000..bodega on p.codpro=bodega.codpro                                      
  inner join sic3000..locales on bodega.codbod=locales.codlocal                                      
                                            
  where /*p.coddiv=@p_Division                                        
  and bodega.codbod=@p_Bodega  */                                      
  locales.Local_His=@p_Bodega                   
  AND p.coddiv= 2
  and (despro like '%' + @p_filtro + '%' )  
   and isnull(p.activo, 0)=1                                      
                                          
  union                                        
                                          
  select top 100                                    
  dessub as DIVISION,                                                     
  p.codpro as CODIGO,                                        
  despro as PRODUCTO,                                        
  isnull(existe,0) as STOCK,                                   
  iva as IVA,                                 
  isnull(dbo.f_Precio(@CodigoEmpresa,@CodigoConvenio,p.codpro),0) as VALOR,                    
  CantDecimal as Cantidad   , p.clasprod                                
                                      
  from sic3000..producto p                                        
  inner join sic3000..ProductoDivision on p.coddiv=ProductoDivision.coddiv            
  inner join sic3000..ProductoSubdivision on p.codsub=ProductoSubdivision.codsub                   
  inner join sic3000..bodega on p.codpro=bodega.codpro                                        
    inner join sic3000..locales on bodega.codbod=locales.codlocal                                      
  where /*p.coddiv=@p_Division                                        
  and bodega.codbod=@p_Bodega  */                                      
  locales.Local_His=@p_Bodega                        
 AND p.coddiv= 2
  and (p.codpro like '%' + @p_filtro + '%' )   
   and isnull(p.activo, 0)=1                                     
  order by producto asc                                        
                                          
 end                                         
                                         
 if (@p_Opcion=2) -- BUSCA POR genericos                                        
 begin                                        
  select top 100      
  dessub as DIVISION,                                                               
  p.codpro as CODIGO,                                        
  despro as PRODUCTO,                                        
  isnull(existe,0) as STOCK,                               
  iva as IVA,                                    
  isnull(dbo.f_Precio(@CodigoEmpresa,@CodigoConvenio,p.codpro),0) as VALOR,                   
  CantDecimal as Cantidad    , p.clasprod                               
                                       
  from sic3000..producto p                     
  inner join sic3000..ProductoDivision on p.coddiv=ProductoDivision.coddiv          
  inner join sic3000..ProductoSubdivision on p.codsub=ProductoSubdivision.codsub          
  inner join sic3000..bodega on p.codpro=bodega.codpro                                       
  inner join sic3000..locales on bodega.codbod=locales.codlocal                                       
  where /*p.coddiv=@p_Division                                        
  and bodega.codbod=@p_Bodega  */                                      
  locales.Local_His=@p_Bodega                    
  AND p.coddiv= 2                                     
  and p.codpro in                                  
  (                                        
   select sic3000..producto.codpro                    
   from sic3000..PRO_GEN,sic3000..GENERICOs,sic3000..producto                                         
   where PRO_GEN.GEN_CODIGO=genericos.GEN_CODIGO                                         
   and producto.codpro=PRO_GEN.codpro                                   
   and GEN_NOMBRE like '%' + @p_filtro + '%'                                        
                                       
   union                                    
                        
   select sic3000..producto.codpro                                         
   from sic3000..PRO_GEN,sic3000..GENERICOS,sic3000..producto                                         
   where PRO_GEN.GEN_CODIGO=genericos.GEN_CODIGO                                         
   and producto.codpro=PRO_GEN.codpro                                        
   and genericos.GEN_CODIGO like '%' + @p_filtro + '%'                                       
                                       
  )                                        
  order by producto, stock_max asc                     
 end                                         
                                         
                                         
end   




USE [His3000]
GO
/****** Object:  StoredProcedure [dbo].[sp_BuscaProductoSic3000all]    Script Date: 01/04/2021 09:03:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER procedure [dbo].[sp_BuscaProductoSic3000all]              
(              
@p_Opcion as int,              
@p_filtro as varchar(128),              
@p_Division as int,              
@p_Bodega as int,              
@CodigoEmpresa as int,              
@CodigoConvenio as int              
)                                            
as                                            
begin                                            
 if (@p_Opcion=1) -- BUSCA POR DATOS                                            
 begin                                            
  select     top 100                                        
  NomLocal as DIVISION,                                            
  p.codpro as CODIGO,                                            
  despro as PRODUCTO,                                            
  isnull(existe,0) as STOCK,                                   
  iva as IVA,                                  
  isnull(dbo.f_Precio(@CodigoEmpresa,@CodigoConvenio,p.codpro),0) as VALOR,                        
  CantDecimal as Cantidad, p.clasprod                              
  from sic3000..producto p                                                                             
  inner join sic3000..ProductoSubdivision on p.codsub=ProductoSubdivision.codsub                                           
  inner join sic3000..bodega on p.codpro=bodega.codpro                                          
  inner join sic3000..locales on bodega.codbod=locales.codlocal                                          
  where locales.Local_His=@p_Bodega and (despro like '%' + @p_filtro + '%' )
  and isnull(p.activo,0)=1
	  union            
  select   top 100                                            
  NomLocal as DIVISION,                                            
  p.codpro as CODIGO,                                            
  despro as PRODUCTO,                                            
  isnull(existe,0) as STOCK,                                                                
  iva as IVA,                                     
  isnull(dbo.f_Precio(@CodigoEmpresa,@CodigoConvenio,p.codpro),0) as VALOR,                       
  CantDecimal as Cantidad,      p.clasprod                                                                      
  from sic3000..producto p                                            
    inner join sic3000..ProductoSubdivision on p.codsub=ProductoSubdivision.codsub                                            
  inner join sic3000..bodega on p.codpro=bodega.codpro                                            
    inner join sic3000..locales on bodega.codbod=locales.codlocal                                          
  where locales.Local_His=@p_Bodega                            
  and (p.codpro like '%' + @p_filtro + '%' )         
  and isnull(p.activo,0)=1 
  order by producto asc                                            
                                              
 end                                             
                          
 if (@p_Opcion=2)  begin                                       
  select       top 100                                      
  NomLocal as DIVISION,                                             
  p.codpro as CODIGO,                       
  despro as PRODUCTO,                                            
  isnull(existe,0) as STOCK,                                                               
  iva as IVA,                                        
  isnull(dbo.f_Precio(@CodigoEmpresa,@CodigoConvenio,p.codpro),0) as VALOR,                       
  CantDecimal as Cantidad, p.clasprod                                        
                                           
  from sic3000..producto p               
  inner join sic3000..ProductoSubdivision on p.codsub=ProductoSubdivision.codsub                                         
  inner join sic3000..bodega on p.codpro=bodega.codpro                                           
  inner join sic3000..locales on bodega.codbod=locales.codlocal                                           
  where /*p.coddiv=@p_Division                                            
  and bodega.codbod=@p_Bodega  */                                          
  locales.Local_His=@p_Bodega                        
  AND p.codsub= (select codsub from sic3000..ProductoSubdivision where  Pea_Codigo_His=@p_Division)                                          
  and p.codpro in                                             
  (                                            
   select top 100  sic3000..producto.codpro                        
   from sic3000..PRODUCTOS_GENERICOS,sic3000..GENERICOs,sic3000..producto                                             
   where PRODUCTOS_GENERICOS.GEN_CODIGO=genericos.GEN_CODIGO                                             
   and producto.codpro=PRODUCTOS_GENERICOS.codpro                                       
   and GEN_NOMBRE like '%' + @p_filtro + '%'                                            
                                           
   union                                        
                            
   select top 100   sic3000..producto.codpro                                             
   from sic3000..PRODUCTOS_GENERICOS,sic3000..GENERICOS,sic3000..producto                                             
   where PRODUCTOS_GENERICOS.GEN_CODIGO=genericos.GEN_CODIGO                                             
   and producto.codpro=PRODUCTOS_GENERICOS.codpro                                            
   and genericos.GEN_CODIGO like '%' + @p_filtro + '%'                                           
                                           
  )            
  and isnull(p.activo,0)=1 -- Verifico que el producto no este dado de baja                                                                            
  order by producto asc                         
 end                                             
                                             
                                             
end 




USE [His3000]
GO
/****** Object:  StoredProcedure [dbo].[sp_BuscaProductoSic3000]    Script Date: 08/04/2021 11:17:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER procedure [dbo].[sp_BuscaProductoSic3000]              
(              
@p_Opcion as int,              
@p_filtro as varchar(128),              
@p_Division as int,              
@p_Bodega as int,              
@CodigoEmpresa as int,              
@CodigoConvenio as int              
)                                            
as                                            
begin                                            
 if (@p_Opcion=1) -- BUSCA POR DATOS                                            
 begin                                            
  select                                             
  NomLocal as DIVISION,                                            
  p.codpro as CODIGO,                                            
  despro as PRODUCTO,                                            
  isnull(existe,0) as STOCK,                                   
  iva as IVA,                                  
  isnull(dbo.f_Precio(@CodigoEmpresa,@CodigoConvenio,p.codpro),0) as VALOR /*FUNCION QUE RECUPERA LOS PRECIOS SEGUN LA EMPRESA Y EL CONVENIO*/,                        
  CantDecimal as Cantidad, p.clasprod                                                                     
  from sic3000..producto p                                            
  inner join sic3000..ProductoSubdivision on p.codsub=ProductoSubdivision.codsub                                           
  inner join sic3000..bodega on p.codpro=bodega.codpro                                          
  inner join sic3000..locales on bodega.codbod=locales.codlocal                                                                                       
  where locales.Local_His=@p_Bodega                       
  AND p.codsub= (select codsub from sic3000..ProductoSubdivision where  Pea_Codigo_His=@p_Division)                      
  and (despro like '%' + @p_filtro + '%' )       
  and isnull(p.activo, 0)=1 -- Verifico que el producto no este dado de baja                                            
                                              
  union                                                                                     
  select                                             
  NomLocal as DIVISION,                                            
  p.codpro as CODIGO,                                            
  despro as PRODUCTO,                                            
  isnull(existe,0) as STOCK,                                                                
  iva as IVA,                                     
  isnull(dbo.f_Precio(@CodigoEmpresa,@CodigoConvenio,p.codpro),0) as VALOR,                       
  CantDecimal as Cantidad, p.clasprod                                                                                 
  from sic3000..producto p                                            
    inner join sic3000..ProductoSubdivision on p.codsub=ProductoSubdivision.codsub                                            
  inner join sic3000..bodega on p.codpro=bodega.codpro                                            
    inner join sic3000..locales on bodega.codbod=locales.codlocal                                          
  where locales.Local_His=@p_Bodega                            
  AND p.codsub= (select codsub from sic3000..ProductoSubdivision where  Pea_Codigo_His=@p_Division)                                   
  and (p.codpro like '%' + @p_filtro + '%' )         
  and isnull(p.activo,0)=1 -- Verifico que el producto no este dado de baja                                                                         
  order by producto asc                                            
                                              
 end                                             
                          
 if (@p_Opcion=2) -- BUSCA POR genericos                                            
 begin                                       
  select                                             
  NomLocal as DIVISION,                                             
  p.codpro as CODIGO,                       
  despro as PRODUCTO,                                            
  isnull(existe,0) as STOCK,                                                               
  iva as IVA,                                        
  isnull(dbo.f_Precio(@CodigoEmpresa,@CodigoConvenio,p.codpro),0) as VALOR,                       
  CantDecimal as Cantidad, p.clasprod                                       
                                           
  from sic3000..producto p               
  inner join sic3000..ProductoSubdivision on p.codsub=ProductoSubdivision.codsub                                         
  inner join sic3000..bodega on p.codpro=bodega.codpro                                           
  inner join sic3000..locales on bodega.codbod=locales.codlocal                                           
  where /*p.coddiv=@p_Division                                            
  and bodega.codbod=@p_Bodega  */                                          
  locales.Local_His=@p_Bodega                        
  AND p.codsub= (select codsub from sic3000..ProductoSubdivision where  Pea_Codigo_His=@p_Division)                                          
  and p.codpro in                                             
  (                                            
   select sic3000..producto.codpro                        
   from sic3000..PRO_GEN,sic3000..GENERICOs,sic3000..producto                                             
   where PRO_GEN.GEN_CODIGO=genericos.GEN_CODIGO                                             
   and producto.codpro=PRO_GEN.codpro                                       
   and GEN_NOMBRE like '%' + @p_filtro + '%'                                            
                                           
   union                                        
                            
   select sic3000..producto.codpro                                             
   from sic3000..PRO_GEN,sic3000..GENERICOS,sic3000..producto                                             
   where PRO_GEN.GEN_CODIGO=genericos.GEN_CODIGO                                             
   and producto.codpro=PRO_GEN.codpro                                            
   and genericos.GEN_CODIGO like '%' + @p_filtro + '%'                                           
                                           
  )            
  and isnull(p.activo,0)=1 -- Verifico que el producto no este dado de baja                                                                            
  order by producto, stock_max asc                         
 end                                             
                                             
                                             
end 




USE [His3000]
GO
/****** Object:  StoredProcedure [dbo].[sp_BuscarProductoSic3000_ServiciosPasteur]    Script Date: 08/04/2021 11:20:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_BuscarProductoSic3000_ServiciosPasteur]  
  
@p_Opcion as int,                
@p_filtro as varchar(128),                
@p_Division as int,                
@p_Bodega as int,                
@CodigoEmpresa as int,                
@CodigoConvenio as int   
AS  
IF(@p_Opcion = 1) ---BUSCAR POR DATOS  
BEGIN  
select  
nomlocal AS DIVISION,  
P.codpro AS CODIGO,  
despro AS PRODUCTO,  
ISNULL(existe, 0) AS STOCK,  
iva AS IVA,  
P.PvPSinIva AS VALOR,  
--ISNULL(dbo.f_Precio(0,0, P.codpro),0) AS VALOR,   
CantDecimal AS Cantidad, p.clasprod
from Sic3000..Producto P
INNER JOIN Sic3000..ProductoSubdivision PD ON P.codsub = PD.codsub
INNER JOIN Sic3000..Bodega B ON P.codpro = B.codpro  
INNER JOIN Sic3000..Locales L ON B.codbod = L.codlocal  
--INNER JOIN RUBROS R ON PD.Pea_Codigo_His = R.RUB_ASOCIADO
WHERE PD.Pea_Codigo_His IN (SELECT RUB_CODIGO FROM RUBROS
WHERE RUB_ASOCIADO IN (2,5)) AND P.clasprod = 'S' 
AND L.Local_His = @p_Bodega
 AND (despro LIKE '%' + @p_filtro + '%')  
 AND ISNULL(P.ACTIVO, 0) = 1 
order by PRODUCTO
 END  
